.updates {
  display: flex;
    justify-content: space-around;
    width: 95%;
  
  button {
    width: 50px;
    height: 64px;
    background-color: transparent;
    border: 1px solid #ccc;
  
  }
}
