*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
div.MuiPaper-root.MuiDrawer-paper{
  background-color: #B3D6D1;
  width: 100vw;
  position: relative;
}